@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YekanBakh400";
  src: url("../_fonts/YekanBakh-Regular.eot");
  src: url("../_fonts/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Regular.woff") format("woff"),
    url("../_fonts/YekanBakh-Regular.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh500";
  src: url("../_fonts/YekanBakh-Medium.eot");
  src: url("../_fonts/YekanBakh-Medium.eot?#iefix") format("embedded-opentype"),
    url("../_fonts/YekanBakh-Medium.woff") format("woff"),
    url("../_fonts/YekanBakh-Medium.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "YekanBakh700";
  src: url("../_fonts/YekanBakh-Heavy.eot");
  src: url("../_fontsYekanBakh-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/YekanBakh-Heavy.woff") format("woff"),
    url("../_fonts/YekanBakh-Heavy.woff2") format("woff2"),
    url("../_fonts/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans400";
  src: url("../_fonts/IRANSansFaNum-Regular.eot");
  src: url("../_fonts/IRANSansFaNum-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Regular.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Regular.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans500";
  src: url("../_fonts/IRANSansFaNum-Medium.eot");
  src: url("../_fonts/IRANSansFaNum-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Medium.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Medium.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IRANSans700";
  src: url("../_fonts/IRANSansFaNum-Bold.eot");
  src: url("../_fonts/IRANSansFaNum-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../_fonts/IRANSansFaNum-Bold.woff") format("woff"),
    url("../_fonts/IRANSansFaNum-Bold.woff2") format("woff2"),
    url("../_fonts/IRANSansFaNum-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "IRANSans400";
}

h1 {
  font-size: 24px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSans500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSans400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 24px;
  color: #fc578c;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.filterBtn.activeFilter {
  background-color: white !important;
}

.blogList .loader {
  width: 25px;
  height: 50px;
  display: grid;
  color: #fc578c;
  background: linear-gradient(currentColor 0 0) top/100% 2px,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      top,
    linear-gradient(currentColor 0 0) bottom/100% 2px,
    radial-gradient(
        farthest-side at bottom,
        #0000 calc(100% - 2px),
        currentColor calc(100% - 1px),
        #0000
      )
      bottom;
  background-size: 100% 1px, 100% 50%;
  background-repeat: no-repeat;
  animation: l18 4s infinite linear;
}
.blogList .loader::before,
.blogList .loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}
.blogList .loader::after {
  animation-duration: 2s;
}
@keyframes l18 {
  100% {
    transform: rotate(1turn);
  }
}
h1 {
  font-size: 24px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h2 {
  font-size: 20px;
  font-family: "IRANSans700";
  line-height: 26px;
}
h3 {
  font-size: 18px;
  font-family: "IRANSans500";
  line-height: 25px;
}
h4,
h5 {
  font-size: 16px;
  font-family: "IRANSans400";
  line-height: 24px;
}
h6 {
  font-size: 14px;
  font-family: "IRANSans400";
  line-height: 22px;
}
a {
  font-size: 14px;
  font-family: "IRANSans500";
  line-height: 24px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}
.section {
  background-repeat: no-repeat;
  background-size: cover;
}

.activeImgScroll::after {
  transform: scaleY(0) !important;
}

.w-90p,
.w-95p {
  max-width: 1300px;
}
header.pink .searchIcon svg path {
  fill: #434343;
}
.scrollTop.white svg path {
  fill: #434343;
}
.swiper-gallery .swiper-slide-active .IMG,
.swiper-gallery .swiper-slide-active {
  transform: scale(1) !important;
}
.swiper-gallery .swiper-slide-active .IMG img {
  filter: grayscale(0) !important;
}

.swiper-gallery .swiper-slide .IMG {
  transform: scale(0.5);
}
.swiper-gallery .swiper-slide-prev .IMG {
  transform-origin: center;
  width: 100%;
  transition: all 0.4s ease;
  transform: scale(0.3) translateX(-39%);
}
.swiper-gallery .swiper-slide-next .IMG {
  transform-origin: center;
  width: 100%;
  transition: all 0.4s ease;
  transform: scale(0.3) translateX(39%);
}
.gallery-container .swiper-button-prev,
.gallery-container .swiper-button-next {
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-container .swiper-button-next::after,
.learning-C .swiper-button-next::after,
.gallery-container .swiper-button-prev::after,
.learning-C .swiper-button-prev::after,
.gallery-container .swiper-button-next::before,
.learning-C .swiper-button-prev::before,
.gallery-container .swiper-button-prev::before,
.learning-C .swiper-button-next::before {
  content: none;
}
.gallery-container .swiper-button-next {
  right: 7%;
  top: 46%;
}
.gallery-container .swiper-button-prev {
  left: 7%;
  top: 46%;
}
.blog-C header,
.articleShow header,
.learning-C header,
.eventlist-C header,
.eventShow header,
.productList header,
.error header{
  background-color: #e8e1e380;
}
.blog-C header a,
.articleShow header a,
.learning-C header a,
.eventlist-C header a,
.eventShow header a ,
.productList header a,
.error header a{
  color: #181818;
}
.blog-C header .logoWhite,
.articleShow header .logoWhite,
.learning-C header .logoWhite,
.eventlist-C header .logoWhite,
.eventShow header .logoWhite,
.productList header .logoWhite,
.error header .logoWhite{
  opacity: 0;
  pointer-events: none;
}
.blog-C header .logoDark,
.articleShow header .logoDark,
.learning-C header .logoDark,
.eventlist-C header .logoDark,
.eventShow header .logoDark,
.productList header .logoDark,
.error header .logoDark{
  opacity: 1;
  pointer-events: all;
}
.blog-C header .searchIcon svg path,
.articleShow header .searchIcon svg path,
.learning-C header .searchIcon svg path,
.eventlist-C header .searchIcon svg path,
.eventShow header .searchIcon svg path,
.productList header .searchIcon svg path,
.error header .searchIcon svg path{
  fill: #181818;
}
.blog-C header,
.articleShow header,
.learning-C header,
.eventlist-C header,
.eventShow header ,
.productList header,
.error header {
  border-bottom: 1px solid #181818;
}
.swiper-gallery .swiper-slide-active .IMG img{
filter: grayscale(0) !important;
  }
 
  .swiper-gallery .swiper-slide .IMG{
    transform: scale(.5);
  
  }
  .swiper-gallery .swiper-slide-prev .IMG{
    transform-origin: right;
  }
  .swiper-gallery .swiper-slide-next .IMG{
    transform-origin: center;
  }
  .gallery-container .swiper-button-prev,
 .gallery-container .swiper-button-next{
   position: absolute;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .gallery-container .swiper-button-next::after,
  .learning-C .swiper-button-next::after,
  .gallery-container .swiper-button-prev::after,
  .learning-C .swiper-button-prev::after,
  .gallery-container .swiper-button-next::before,
  .learning-C .swiper-button-prev::before,
  .gallery-container .swiper-button-prev::before,
  .learning-C .swiper-button-next::before{
    content: none;
  }
  .gallery-container .swiper-button-next{
    right: 7%;
    top: 46%;
  }
  .gallery-container .swiper-button-prev{
    left: 7%;
    top: 46%;
  }
  .blog-C header,
  .articleShow header,
  .learning-C header,
  .eventlist-C header,
  .eventShow header,
  .productShow header,
  .formPage header,
  .productCat header {
    background-color: #E8E1E380;
  }
  .blog-C header a,
  .articleShow header a,
  .learning-C header a,
  .eventlist-C header a,
  .eventShow header a,
  .productShow header a,
  .formPage header a,
  .productCat header a{
color: #181818;
  }
  .blog-C header .logoWhite,
  .articleShow header .logoWhite,
  .learning-C header .logoWhite,
  .eventlist-C header .logoWhite,
  .eventShow header .logoWhite,
  .productShow header .logoWhite,
  .formPage header .logoWhite,
  .productCat header .logoWhite{
    opacity: 0;
    pointer-events: none;
  }
  .blog-C header .logoDark,
  .articleShow header .logoDark,
  .learning-C header .logoDark,
  .eventlist-C header .logoDark,
  .eventShow header .logoDark,
  .productShow header .logoDark,
 .formPage header .logoDark,
 .productCat header .logoDark{
    opacity: 1;
    pointer-events: all;
  }
  .blog-C header .searchIcon svg path,
  .articleShow header .searchIcon svg path,
  .learning-C header .searchIcon svg path,
  .eventlist-C header .searchIcon svg path,
  .eventShow header .searchIcon svg path,
  .productShow header .searchIcon svg path,
.formPage header .searchIcon svg path,
.productCat header .searchIcon svg path{
    fill: #181818;
  }
  .blog-C header,
  .articleShow header,
  .learning-C header,
  .eventlist-C header,
  .eventShow header,
  .productShow header,
  .formPage header,
  .productCat header{
    border-bottom: 1px solid #181818;
  }
.articleShow .textContainer .title h2,
.articleShow .textContainer .title h3,
.articleShow .textContainer .title h4,
.articleShow .textContainer .title h5,
.articleShow .textContainer .title h6,
.eventShow .textContainer .title h2,
.eventShow .textContainer .title h3,
.eventShow .textContainer .title h4,
.eventShow .textContainer .title h5,
.eventShow .textContainer .title h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.17px;
  color: #434343;
  font-family: "IRANSans500";
  transform: translateY(3em);
  opacity: 0;
  transition: all 0.4s ease;
}
.articleShow .textContainer .text p,
.eventShow .textContainer .text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23.48px;
  color: #434343;
  font-family: "IRANSans400";
  opacity: 0;
  transform: translateY(3em);
  transition: all .4s ease;
  }
 
  html{
    font-size: unset !important;
  }
  a:hover{
    text-decoration: none !important;
  
  transition: all 0.4s ease;
}

.aboutUs .section10 .gallerySlider .swiper-slide img {
  width: 100%;
  transition: all 0.4s ease;
  transform: scale(0.3) translateY(100px);
}

.aboutUs .section10 .gallerySlider .swiper-slide-active img {
  transform: scale(1) translateY(0);
}
.contactUs header{
  position: relative;
}

.home .section-4 .text p{
font-size: 15px;
font-weight: 400;
line-height: 23.48px;
color: white;
font-family: "IRANSans400";
}
.home .section-4,
.home .section-1,
.home .section-2{
  position: relative;
}

.home .section-4::before,
.home .section-1::before,
.home .section-2::before{
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: #4343433e;
}

.learning-C .swiper-pagination-bullet{
width: 10px;
height: 10px;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
opacity: 1;
}
.learning-C .swiper-pagination {
  width: fit-content !important;
  display: flex;
  gap: .3em;
  margin: auto;
  background-color: #E8E1E3;
  justify-content: center;
  border-radius: 37px;
  padding: .4em .8em;
  left: 0;
  right: 0;
  transition:all .4s ;
  bottom: 1.8em;
}
.learning-C .swiper-pagination-bullet-active{
  background-color: #fc578c !important;
}
.learning-C .section2 h4{
  transform: translateY(2em);
  opacity: 0;
  transition: all 1s ease;
}
.learning-C .section2  p{
  transform: translateY(2em);
  opacity: 0;
  transition: all 1s ease;
}
.learning-C .section2 .swiper-slide-active h4{
  transform: translateY(0) !important;
  opacity: 1 !important; 
}
.learning-C .section2 .swiper-slide-active p{
  transform: translateY(0) !important;
  opacity: 1 !important;
}
.learning-C .section2 .swiper-slide .IMG img{
 transform: scale(1.2) ;
 transition: all 1s ease;
 clip-path: inset(0px 0px 100% 0px);

}
.learning-C .section2 .swiper-slide-active .IMG img{
  transform: scale(1) !important;
  clip-path: inset(0px 0px 0px 0px);
 }

 .loader {
  width: 25px;
  height: 50px;
  display: grid
;
  color: #fc578c;
  background: linear-gradient(currentColor 0 0) top / 100% 2px, radial-gradient(farthest-side at top, #0000 calc(100% - 2px), currentColor calc(100% - 1px), #0000) top, linear-gradient(currentColor 0 0) bottom / 100% 2px, radial-gradient(farthest-side at bottom, #0000 calc(100% - 2px), currentColor calc(100% - 1px), #0000) bottom;
  background-size: 100% 1px, 100% 50%;
  background-repeat: no-repeat;
  animation: l18 4s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: inherit;
  border: inherit;
  animation: inherit;
}

.loader::after {
  animation-duration: 2s;
}

@keyframes l18 {
  100% {
    transform: rotate(1turn);
  }
}


.searchContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 198% !important;
  opacity: 0;
  pointer-events: none;
  bottom: 0;
  margin-top: auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);

}
.searchContainer form {
  width: 100%;
  direction: rtl;
}
.searchContainer button {
  border: none;
  outline: none;
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 0;
  background-color: transparent;
}
.searchContainer.show {
  opacity: 1;
  pointer-events: all;
}

.searchContainerr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  flex-direction: column;
}

.searchContainer .CloseSerch {
  position: absolute;
  z-index: 100;
  right: 5%;
  top: 7em;
}
.searchContainer .CloseSerch:hover{
  cursor: pointer;
}
.searchContainer .CloseSerch  svg path{
  fill: #181818;
}
.searchContainerr input,
.searchContainer input {
  width: 100%;
  height: 55px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #181818;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding-left: 3em;
  color: #181818;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
}

.searchContainer input:focus,
.searchContainer input:active,
.searchContainer input:focus-visible {
  background-color: transparent;
}

.searchContainerr input::-moz-placeholder, .searchContainer input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  color: #181818;
}

.searchContainerr input::placeholder,
.searchContainer input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.04px;
  color: #181818;
}

.searchContainerr .inputBox,
.searchContainer .inputBox {
  width: 60%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.searchContainerr .inputBox span,
.searchContainer .inputBox span {
  width: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10px;
  top: 0;
}

header, footer{
  direction: rtl !important;}
.openModal{
  transform: translateY(0)!important;
}

@media only screen and (max-width: 1200px) {
  .home .section-6 .rightSec {
width: 50%;
}
.home .section-6 .rightSec .IMG {
  min-width: unset;
  width: 100%;
}
.home .section-6 .rightSec .IMG img {
  min-width: unset;
  width: 100%;
  height: auto;
}
.home .section-6  .leftSec {
  width: 100%;
}
.home .eventBtn {
  width: 100%;
}
}